body{
    background-color: rgba(8, 8, 248, 0.6);
    margin: 0 auto;
}
h1{
    text-align: center;
}
.main-cont{
    width: 60%;
    height: 400px;
    background-color: #2196F3;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.pst{
    font-size: 20px;
    text-align: center;
    position: absolute;
}
#top-left{
    top: 8px;
    left: 16px;
}
#top-right{
    top: 8px;
    right: 16px;
}
#bottom-left{
    bottom: 8px;
    left: 16px;
}
#bottom-right{
    bottom: 8px;
    right: 16px;
}
#center{
    top: 50%;
    width: 100%;
    background-color: #2196F3;
}