body{
    margin: 0 auto;
}
.cont-header{
    width: 99.8%;
    height: 4rem;
    background-color: rgb(81, 22, 144);
    color: white;
    display: flex;
    position: fixed;
    padding: 3px;
    justify-content: center;
    top: 0;
    
}
.cont-title span{
    color: orangered;
}
.cont-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 35px;
    font-weight: bold;
    font-family: Tahoma;
}
.cont-nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30%;
}
.cont-nav li{
    list-style-type: none;
    display: inline;
    margin-right: 25px;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
}
.cont-content{
    margin-top: 5rem;
    overflow: hidden;
}
.cont-content1 .first-p{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 4rem;
}
.cont-content1 .second-p{
    font-family: fantasy;
    color: rgba(81, 22, 144, 0.7);
    margin-bottom: 4rem;
}
input{
    padding: 5px;
}
div .text{
    display: block;
    width: 50%;
    height: 4rem;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: 10px;
    background-color: rgba(81, 22, 144, 0.1);
    border: none;
}
.text:focus{
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px rgba(18, 18, 18, 0.7);
}
.inpt button{
    display: block;
    padding: 18px 35px;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
}
.ask-div{
    position: absolute;
    bottom: 15px;
    right: 16px;
    padding: 5px;
}
.ask-fedex{
    position: fixed;
    bottom: 15px;
    right: 16px;
    width: 70px;
    height: 3rem;
    border-radius: 15px;
    padding-bottom: 2rem;
    background-color: rgba(81, 22, 144, 0.9);
    cursor: pointer;
    color: white;
    overflow: hidden;
    text-align: center;
    transition-duration: 2.0s;
}
.ask-fedex:hover{
    width: 140px;
    height: 3rem;
}
.fgt{
    font-family: sans-serif;
    color: rgba(81, 22, 144, 0.8);
}
.foot{
    margin-left: 10rem;
    margin-top: 6rem;
    display: flex;
}
.foot .foot-flx{
    margin-right: 3rem;
    padding-right: 8px;
}
.foot-flx h5{
    font-size: 16px;
    margin-bottom: 2rem;
    color: rgb(81, 22, 144);
}
.foot-flx p{
    font-size: 13px;
}
.foot a{
    color: black;
    text-decoration: none;
}
.follow{
    margin-left: 4rem;
    color: rgba(81, 22, 144, 0.9);
}
.footer{
    background-color: rgb(81, 22, 144);
    padding: 15px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.footer li{
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}
.footer a{
    text-decoration: none;
    color: white;
}
