 body {  
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
}
  
.main-cont{
    position: fixed;
    top: 15%;
    left: 10%;
}
  
.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.name-content {
    margin-top: 0;
    margin-right: 8rem ;
}
  
.name-content .logo {
    font-size: 3.5rem;
    color: #1877f2;
    font-family: 'Courier New', Courier, monospace;
}
  
.name-content p {
    font-size: 1rem;
    margin-bottom: 5rem;
}
  
form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 400px;
    height: 380px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%)
}
  
form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    border: 1px solid #000000;
}
  
form input:focus {
    border: 1.8px solid #1877f2;
}
  
form .login {
    outline: none;
    border: none;
    background: #1877f2;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    transition-duration: 0.4s
} 
form .login:hover {
    cursor: pointer;
    background-color: #06b909;
    color: white;
} 
form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.8rem;
    color: #1877f2;
} 
form hr {
    background: #f7f7f7;
    margin: 1rem;
} 
form .create-account {
    outline: none;
    border: none;
    background: #06b909;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    width: 75%;
    margin: 0 auto;
    transition-duration: 0.4s;
}
  
form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
    background-color: #1877f2;
    color: #f2f4f7;
}
  
  
  
 