body{
   margin: 0 auto;
}
.nav-cont{
    width: 97.6%;
    background-color: #38ad41;
    padding: 15px;
    height: 35px;
    color: white;
    position: fixed;
    box-shadow: 0 3px 3px rgba(44, 43, 43, 0.4);
    overflow: hidden;
}
nav .nav-list{
    float: right;
    width: 40%;
}
nav li{
    padding: 10px;
    list-style-type: none;
    display: inline;
    
}
nav li:hover{
    background-color: rgba(249, 243, 243, 0.5);
}
nav a{
    text-decoration: none;
    color: white;
}
nav h1{
    width: 25%;
    float: left;
    
    margin-top: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav h1 span{
    color: rgba(255, 69, 0, 0.9);
}
.brand-pic{
   width: 100%;
}
.pics{
    width: 100%;
    height: auto;
}
.cont-par-div{
    width: 100%;
    height: 700px;
    background-color: #38ad41;
    display: flex;
    justify-content:space-between;
}
.filter-div{
    width: 11%;
    height: 90%;
    background-color: white;
    box-shadow: 0 3px 3px rgba(44, 43, 43, 0.4);
    padding-left: 5px;
    padding-top: 15px;
    padding-right: 5px;
}
.filter-div li{
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.prod-div{
    width: 84%;
    background-color: white;
    padding: 20px;
    color: white;
}
.prod-hor{
    height: 180px;
    display: flex;
    margin-bottom: 15px;
}
.prods{
    width: 20%;
    height: 170px;
    margin-right: 6px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(44, 43, 43, 0.4);
    cursor: pointer;
    overflow: hidden;
    
}

.prod-img{
    height: 60%;
    padding-top: 10px;
    overflow: hidden;
    
}
.prod-img img{
    width: 90%; 
}
.prod-img img:hover{
    width: auto;
    height: auto;
    position: absolute;
}
.prods .prod-desc{
    width: 100%;
    height: 40%;
    background-color: #38ad41;
    border-radius: 3px;
    padding-left: 5px; 
}
